/public/storage
/vendor
/node_modules
/bower_components
Homestead.yaml
Homestead.json
.env
.envoydeploy
*.log
storage/debugbar
storage/upload
storage/framework
storage/app
storage/logs
bootstrap/cache
.phpintel
.idea
public/build
public/css
public/js
.buildpath
.project
.settings
.sass-cache
/storage/
.DS_Store
coverages
_ide_helper.php
secrets.yml
volumes
docker-build